<div class="cardSelect addressType">
	<div class="item">
          
           <div class="productTitle blckColor">Town Hall House
Level 2, 456 Kent Street
Sydney NSW 2000</div>
 		   <div class="viewItem" onclick="g_wishList.addressSelect()">Select</div>
    </div>
    <div class="item">
         
           <div class="productTitle blckColor">City of Sydney
GPO Box 1591
Sydney NSW 2001</div>
 		   <div class="viewItem" onclick="g_wishList.addressSelect()">Select</div>
    </div>
</div>