<div class="cardSelect">
	<div class="item">
           <img src="../www/img/masterCard.png">
           <div class="productTitle">xxxxxxxxxxxxx123</div>
 		   <div class="viewItem" onclick="g_wishList.cardType()">Select</div>
    </div>
    <div class="item">
           <img src="../www/img/visaCard.jpg">
           <div class="productTitle">xxxxxxxxxxxxx687</div>
 		   <div class="viewItem" onclick="g_wishList.cardType()">Select</div>
    </div>
</div>