<div class="container_Block">
<div class="actionBtn">
	<i class="fa fa-angle-left arrowBackBtn" aria-hidden="true"></i> <span class="blueAct backText" onclick="g_dialogBox.closeDialog();">Back</span>
</div>
<div class="dialogContainer">
	<div class="productInfoHeader">
	<div class="viewItemImg">
		<img src={{img}} />
	</div>
	<div class="prodAddImg">
		<!--<ul class="addListImg">
			<li class="addListItem"><img src="../www/img/m5.jpg" /></li>
			<li class="addListItem"><img src="../www/img/m6.jpg" /></li>
			<li class="addListItem"><img src="../www/img/m3.jpg" /></li>
		</ul>-->
        
        <section id="productExtraImg">
          <div class="row">
            <div class="large-12 columns">
              <div class="owl-carousel owl-theme extraProImg">
                  {{#each addedPhoto}}
                        <div class="addListItem"><img src={{img}} /></div>
                  {{/each}}
              </div>
            </div>
          </div>
        </section>
        
        
	</div>
	</div>
	<div class="productInfo">
		<div class="prodHeader">
			{{title}}
		</div>
		<div class="actionBlock">
			<div class="blueAct">Buy Item</div>
			<div class="blueAct">Read Reviews</div>
		</div>
	</div>
</div>
</div>