<div class="placeOrder">
	<div><span class="placeLable">Total price : </span><span class="totalPrice">{{price}} $</span></div>
	<div><span class="placeLable">Quantity : </span><span class="quantity">{{quantity}}</span></div>
	<div>Sure. Where would you want the product to be delivered</div>
</div>