<section id="demos">
      <div class="row">
        <div class="large-12 columns">
          <div class="owl-carousel owl-theme">
              {{#each list}}
                <div class="item">
                 <img src={{IMG}} />
                 <div class="btnGroup">
                    <div class="viewBtn">View</div>
                    <div class="buyBtn">Buy</div>
                  </div>
                </div>
              {{/each}}
          </div>
        </div>
      </div>
</section>