body, html {
    height: 100%;
    margin: 0;
}.container_Block {
    display: flex;
    flex-direction: column;
    background: #fff;
    height: 100%;
}.header_Block {
    background: linear-gradient(141deg, #ff595f 0%, #ff595f 51%, #f32955 75%);
    height: 210px;
    width: 100%;
    float: left;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}.search_Block {
    width: 85%;
    margin: 0 auto;
}#input.search_Input {
    background: #f5f5f5;
    padding: 50px 0;
    border: 1px solid #f5f5f5;
    width: 100%;
    box-sizing: border-box;
    font-size: 30px;
    text-align: center;
    border-left: 0;
    border-right: 0;
}.search_Input:focus {
    outline: none;
}.hd_3 {
    text-align: center;
    color: #fff;
    font-style: italic;
    font-family: sans-serif;
    padding-top: 42px;
}.content_Block {
	flex: 1;
	overflow: auto;
    padding: 10px;
}
.footer_Block {
    background: #f5f5f5;
    width: 100%;
    height: 100px;
}.loader {
    font-size: 150px;
    color: #f32955;
    text-align: center;
    display: none;
	position: absolute;
    bottom: 100px;
    width: 100%;
}.response_Block {
    width: 100%;
    height: 100%;
    padding: 12px;
    box-sizing: border-box;
}.query {
    font-size: 40px;
    background: #e6e6e6;
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 30px;
    display: inline-block;
    font-family: sans-serif;
    width: 80%;
}.result {
    display: flex;
    justify-content: flex-end;
}.result .query {
    display: inline-block;
    background: #0f8bed;
    color: #fff;
}
.result .slideView.query {
    background:#fff;
    width:100%;
    color: #000;
    padding: 0px;
}
.slideView img {
    height: 100%;
}
.listItems ul {
    font-size: 100%;
}
.listItems li {
    display: block;
}
.btnGroup {
    float: left;
    text-align: center;
    width: 100%;
}
.buyBtn {
    float: left;
    width: 50%;
    background: #237d23;
    color: #fff;
}
.viewBtn {
    float: left;
    background: #5db4de;
    color: #fff;
    width: 50%;
}
#demos .owl-carousel .item img {
   padding: 1rem;
    width: 340px;
    height: 310px;
    margin: 0 auto;
    padding-top: 50px;
}
#demos .owl-carousel .item {
    background: #ececec;
    border-radius: 30px;
    height: 34rem;
    padding: 0 25px;
}
.col-spc-1 {
    width: 10%;
    float: left;
}
.col-spc-8 {
    width: 80%;
    float: left;
}
.flx-aj {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.flx-aj .fnt-65 {
    font-size: 65px;
    color: #b7b7b7;
    cursor: pointer;
}
.productTitle {
    padding: 14px 0;
    color: #797777;
}
.productPrize {
    font-weight: bold;
    font-size: 35px;
}
.viewItem {
    text-align: center;
    color: #0089ff;
    padding-top: 10px;
    font-size: 37px;
}
@keyframes blink {50% { color: transparent }}
.loader__dot { animation: 1s blink infinite }
.loader__dot:nth-child(2) { animation-delay: 250ms }
.loader__dot:nth-child(3) { animation-delay: 500ms }