body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}.container_Block, .dialogContainer {
    display: flex;
    flex-direction: column;
    background: #fff;
    height: 100%;
}.header_Block {
    background: linear-gradient(141deg, #ff595f 0%, #ff595f 51%, #f32955 75%);
    height: 210px;
    width: 100%;
    float: left;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}.search_Block {
    width: 85%;
    margin: 0 auto;
}#input.search_Input {
    background: #f5f5f5;
    padding: 25px 0;
    border: 1px solid #f5f5f5;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
    border-left: 0;
    border-right: 0;
    margin: 0;
}.search_Input:focus {
    outline: none;
}.hd_3 {
    text-align: center;
    color: #fff;
    font-style: italic;
    font-family: sans-serif;
    padding-top: 42px;
}.content_Block {
	flex: 1;
	overflow: auto;
    padding: 10px;
}
.footer_Block {
    background: #f5f5f5;
    width: 100%;
    height: 50px;
}.loader {
    font-size: 60px;
    color: #f32955;
    text-align: center;
    display: none;
    position: absolute;
    bottom: 35px;
    width: 100%;
    z-index: 1;
}.response_Block {
    width: 100%;
    height: 100%;
    padding: 12px;
    box-sizing: border-box;
}.query {
    font-size: 20px;
    background: #e6e6e6;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 18px;
    display: inline-block;
    font-family: sans-serif;
    width: 80%;
    border-top-left-radius: 0;
    box-shadow: 1px 1px 1px 0px #7b7b7b;
}.result {
    display: flex;
    justify-content: flex-end;
}.result .query {
    display: inline-block;
    background: #0f8bed;
    color: #fff;
    border-top-right-radius: 0;
    border-top-left-radius: 10px;
    box-shadow: 1px 1px 1px 0px #757575;
}
.result .slideView.query {
    background:#fff;
    width:100%;
    color: #000;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: none;
}
.slideView img {
    height: 100%;
}
.listItems ul {
    font-size: 100%;
}
.listItems li {
    display: block;
}
.btnGroup {
    float: left;
    text-align: center;
    width: 100%;
}
.buyBtn {
    float: left;
    width: 50%;
    background: #237d23;
    color: #fff;
}
.viewBtn {
    float: left;
    background: #5db4de;
    color: #fff;
    width: 50%;
}
#demos .owl-carousel .item img {
    padding: 0;
    width: 130px;
    height: 140px;
    margin: 0 auto;
    padding-top: 15px;
}
#demos .owl-carousel .item {
        background: #ececec;
    border-radius: 10px;
    height: 235px;
    padding: 0 10px;
}
.col-spc-1 {
    width: 10%;
    float: left;
}
.col-spc-8 {
    width: 80%;
    float: left;
}
.col-spc-10 {
    width: 100%;
    float: left;
}
.flx-aj {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.flx-aj .fnt-65 {
    font-size: 65px;
    color: #b7b7b7;
    cursor: pointer;
}
.productTitle {
    padding: 4px 0;
    color: #797777;
    font-size: 15px;
}
.productPrize {
    font-weight: bold;
    font-size: 15px;

}
.viewItem {
    text-align: center;
    color: #0089ff;
    padding-top: 5px;
    font-size: 15px;
}
#rec.speakingMic {
    color: red;
}

/*.customDialog {
    font-size: 45px;
}*/
.customDialog.ui-dialog .ui-dialog-content {
    padding: 8px;
    padding-bottom: 20px;
}
.arrowBackBtn {
    font-size: 40px;
    color: #9c9c9c;
}
.backText {
        font-size: 15px;
    display: inline-block;
    padding-left: 12px;
    vertical-align: top;
    padding-top: 5px;
}
.blueAct {
    color: #0089ff;
}
.productInfoHeader {
    flex: 1;
}
.dialogContainer {
    background: #f1f1f1;
    padding: 20px;
}
.viewItemImg img {
    width: 100%;
    height: 100%;
}
.addListImg {
    display: block;
    margin: 0;
    padding: 0;
}
.addListItem {
    display: block;
    float: left;
    margin-right: 15px;
    border: 1px solid #c7c7c7;
    height: 102px;
    width: 102px;
}
.addListItem img {
    width: 100%;
    height: 100%;
}
.addListItem:last-child {
    margin: 0;
}
.prodAddImg {
    float: left;
    width: 100%;
    margin-top: 30px;
}
.actionBlock .blueAct {
        text-align: center;
    padding: 10px;
    font-size: 14px;
}
.actionBlock .blueAct:last-child {
    border-top: 1px solid #fff;
}
.prodHeader {
    font-size: 20px;
    padding: 10px;
}
.filterBlock {
    float: left;
    width: 100%;
    padding: 14px;
    height: 250px;
    overflow: auto;
    
}
.filterBlock ul {
    margin: 0;
    display: block;
    padding: 0;
}
.filterBlock li {
    font-size: 15px;
    font-weight: bold;
    float: left;
    display: block;
    width: 100%;
    text-align: center;
    background: #f1f1f1;
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 24px;
}
.filterBlock li:last-child {
    margin: 0;
}
.slideView .column, .columns {
    padding: 0;
}
.actionBtn {
    margin-bottom: 12px;
}
.viewItemImg img {
    width: 100%;
    height: 100%;
}
.viewItemImg {
    height: 250px;
}



.shoppingList {
    margin: 0;
}

.query::after {
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 18px solid #e6e6e6;
    float: left;
    content: '';
    margin: -15px -23px;
}

.result .query::after{
border-right:0;
}

.result .query::before {
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 18px solid #0f8bed;
    border-right:0;
    float: right;
    content: '';
    margin: -15px -22px;
} 
.slideView.query::before {
    border: 0;
}
.list-heading{
font-size: 16px;
margin: 0px 0 10px 5px;
}
.query.listItems::before {
    border-left: 18px solid #4682b4;
}
.query.listItems{
background: steelblue;
}

.shoppingList {
    margin: 0 0 0 20px;
}

.shoppingList .fa{
margin-right:5px;
} 
@keyframes blink {50% { color: transparent }}
.loader__dot { animation: 1s blink infinite }
.loader__dot:nth-child(2) { animation-delay: 250ms }
.loader__dot:nth-child(3) { animation-delay: 500ms }